<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem 
        name="Discuss"
        id="mail.menu_root_discuss"
        action="mail.action_discuss"
        web_icon="mail,static/description/icon.png"
        groups="-base.group_user,base.group_system"
        sequence="5"
    />

    <menuitem 
        id="base.menu_management" 
        name="Apps" 
        sequence="500" 
        web_icon="base,static/description/modules.png" 
        groups="base.group_system"
    />

    <menuitem
        id="ca_richiesta_riga_accesso_sede_menu"
        name="Request Insertion Headquarters Access Register"
        action="ca_richiesta_riga_accesso_sede_action"
        groups="controllo_accessi.ca_utente"
        parent="inrim_controllo_accessi.ca_richiesta_accesso_root_menu"
        sequence="20"
    />

    <menuitem 
        name="Contacts"
        id="contacts.menu_contacts"
        sequence="20"
        web_icon="contacts,static/description/icon.png"
        groups="-base.group_user,-base.group_partner_manager,base.group_system"
    />

    <menuitem
        id="inrim_city_zip_geonames_import_menu"
        action="base_location_geonames_import.city_zip_geonames_import_action"
        parent="inrim_anagrafiche.ca_persona_menu"
        sequence="10"
    />
</odoo>